<h1>sign in</h1>
<div id="loginArea">
  <% if (messages && messages.length > 0) { %>
  <div>errors</div>
  <% } %>

  <form id="loginForm" action="/login.html" method="POST">
    <p>
      <label>Username</label><input type="text" id="username" name="username"/>
    </p>

    <p>
      <label>Password</label><input type="password" id="password" name="password"/>
    </p>
    <input id="loginButton" class="button" type="submit" value="Sign In"/>
  </form>

  <script type="text/javascript">
    $.ajaxSetup({
      global: false,
      type: "POST"
    });

    $(document).ready(function () {
      var FormView = Backbone.View.extend({
        events : {
          "submit #loginForm" : "formSubmit"
        },
        formSubmit : function(event) {
          var formData = $('#loginForm').serialize();
          $.ajax({
            url: '/login.html?' + formData,
            success: function( data ) {
              if (data.staus === 'failed') {
                // TODO - insert form validation
                return;
              }
              window.location.replace("/");
            }});
        }
      });
      var view = new FormView({el: $('#loginArea')});
    });
  </script>
</div>