/* ================ */
/* = The 1Kb Grid = */     /* 16 columns, 80 pixels each, with 10 pixel gutter */
/* ================ */

.grid_0_5 { width: 40px; }
.grid_1 { width:80px; }
.grid_2 { width:170px; }
.grid_3 { width:260px; }
.grid_4 { width:350px; }
.grid_5 { width:440px; }
.grid_6 { width:530px; }
.grid_7 { width:620px; }
.grid_8 { width:710px; }
.grid_9 { width:800px; }
.grid_10 { width:890px; }
.grid_11 { width:980px; }
.grid_12 { width:1070px; }
.grid_13 { width:1160px; }
.grid_14 { width:1250px; }
.grid_15 { width:1340px; }
.grid_16 { width:1430px; }

.column {
  margin: 0 5px;
  overflow: hidden;
  float: left;
  display: inline;
}
.row {
  overflow: hidden;
}

.row .row {
  margin: 0 -5px;
  width: auto;
  display: inline-block;
}